@include font("Raleway-Black", "Raleway-Black", "400", "normal");
@include font("Raleway-Bold", "Raleway-Bold", "400", "normal");
@include font("Raleway-ExtraBold", "Raleway-ExtraBold", "400", "normal");
@include font("Raleway-Medium", "Raleway-Medium", "400", "normal");
@include font("Raleway-Regular", "Raleway-Regular", "400", "normal");
.abc {
  color: mediumvioletred;
}

body {
  background-color: #f1f1f2;
  text-decoration: none;
}