.filter {
  max-width: 1312px;
  margin: 100px auto;
  display: flex;
  &__left {
    min-width: 280px;
    max-width: 280px;
    &-label {
      font-weight: normal;
    }
    &-block {

    }
    &-title {
      font-weight: bold;
      margin-bottom: 10px;
    }
    &-list {
      margin-bottom: 24px;
    }
  }
  &__right {
    flex: 1;
  }
}