.filter {
  * {
    font-family: 'Raleway', sans-serif !important;
  }

  bold {
    font-weight: bold;
  }

  max-width: 1312px;
  margin: 100px auto;
  display: flex;

  &__left {
    min-width: 280px;
    max-width: 280px;
    margin-right: @sp;
    //position: fixed;

    &-scroll {
      //max-height: calc(~'100vh - 312px');
      //overflow: auto;
      //position: sticky;
      //top: 80px;
    }
    &-space {
      min-width: 280px;
      max-width: 280px;
      margin-right: @sp;
      min-height: 100vh;
    }


    &-label {
      font-weight: normal;
      cursor: pointer;
      transition: all 0.3s;
      margin-left: 0;
      margin-bottom: 0;
      white-space: nowrap;
      position: relative;
      display: flex;
      align-items: center;
      color: #212121;
      font-size: 16px;

      &:before {
        content: '';
        display: block;
        width: 20px;
        height: 20px;
        background: green;
        background: url("../../images/checkbox-o.svg") no-repeat center;
        margin-right: 8px;
        position: relative;
        top: -1px;

      }
    }

    &-block {

    }

    &-title {
      font-weight: bold;
      margin-bottom: 10px;
    }

    &-list {
      margin-bottom: 24px;

      & > div {
        display: flex;
      }
    }

    &-cbox {
      position: absolute;
      z-index: -1;
      opacity: 0;

      &:checked + .filter__left-label {
        &:before {
          background: url("../../images/checkbox.svg") no-repeat center;
        }
      }

      &:disabled + .filter__left-label {
        color: #c5c5c5;

        &:before {
          background: url("../../images/checkbox-d.svg") no-repeat center;
        }
      }

      &:disabled {
        &:hover {
          & + .filter__left-label {
            color: #c5c5c5;
          }
        }
      }

      &-wrap {
        display: flex;
        align-items: center;
        flex: 0;
        cursor: pointer;
        transition: all 0.3s;
        padding: 4px 0;

        input {
          cursor: pointer;
        }

        &:hover {
          .filter__left-label {
            color: darken(#92B700, 10%);
          }
        }
      }
    }
  }

  &__right {
    flex: 1;
  }

  &__item {
    * {
      font-size: 16px;
      font-weight: 500;
      line-height: inherit;
      letter-spacing: inherit;
    }

    background: #FAFAFA;
    border: 1px solid #FAFAFA;
    border-radius: 8px;
    padding: @sp;
    margin-bottom: 24px;
    position: relative;
    &:before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background-color: #ECEBEB;
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      border-radius: 8px;
      opacity: 0;
      transition: all 0.2s;
    }
    &:hover {
      border: 1px solid #E0E0E0;
      &:before {
        opacity: 1;
        top: 6px;
        left: 5px;
      }
    }

    &-title {
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 8px;
    }

    &-info {
      display: flex;
      margin-top: 16px;
      * {
        font-size: 15px;
      }
    }
    &-str {
      margin-right: 16px;
      display: flex;
      align-items: center;
      white-space: nowrap;
      span {
        padding-right: 4px;
      }

    }
    &-icon {
      width: 16px;
      height: 16px;
      display: block;
      margin-right: 4px;
      &_calendar {
        background: url('../../images/icon/calendar.svg') no-repeat center;
      }
      &_pin {
        background: url('../../images/icon/mapPin.svg') no-repeat center;
      }
      &_clock {
        background: url('../../images/icon/clock.svg') no-repeat center;
      }
    }
    &-excerpt {
      font-weight: 500;
      font-size: 14px;
      color: #787878;
      line-height: 1.6;
    }

    &-exp {
      color: #212121;
      font-weight: 500;
      margin-bottom: 4px;
    }

    &-city {
      display: flex;

      & > div {
        &:first-child {
          margin-right: 4px;
        }
      }
    }

    &-wf {

    }

    &-hot {
      position: absolute;
      top: @sp;
      right: @sp;
      background: url('../../img/tinder.svg') no-repeat center;
      //background-size: contain;
      width: 12px;
      height: 14px;
    }

    &-industry {
      position: absolute;
      bottom: @sp;
      right: @sp;
      background: @green;
      color: white;
      text-transform: uppercase;
      font-weight: 800;
      font-size: 11px;
      padding: 4px 8px;
      border-radius: 4px;
    }

    &-link {
      text-decoration: none !important;
      color: @black !important;
    }
  }
  &__hot-icon {
    background: url('../../img/tinder.svg') no-repeat center;
    width: 12px;
    height: 14px;
    margin-right: 8px;
  }
  &__btns {
    margin-top: 32px;
    position: sticky;
    bottom: 0;
    background: white;
    padding: @sp 0;
    display: none;
    &.active {
      display: block;
    }

    &-reset {
      font-weight: bold;
      font-size: 16px;
      background: #FAFAFA;
      color: #212121;
      border-radius: 8px;
      padding: 0 16px;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      border: none;
      box-shadow: none;
      transition: all 0.2s;

      &:hover {
        background: @green;
        color: white;
      }
    }
  }
  &__search {
    margin-bottom: 24px;
    position: relative;
    &-input {
      box-sizing: border-box;
      width: 100%;
      padding: 12px 50px 12px 16px;
      border: 1px solid #E0E0E0;
      border-radius: 8px;
      &:focus-visible {
        box-shadow: none;
        border: 1px solid @green ;
        outline: none;
      }
      &-close {
        display: none;
        position: absolute;
        right: 12px;
        top: 16px;
        height: 16px;
        width: 16px;
        cursor: pointer;
        transition: all 0.3s;
        background: url('../../images/icon/close.svg') no-repeat center;
        &.visible {
          display: block;
        }
        &:hover {
          opacity: 0.5;
        }

      }
    }
  }
}

@media (max-width: @xxl) {
  .filter {
  }
}

@media (max-width: @xl) {
  .filter {

  }
}

@media (max-width: @lg) {
  .filter {
    flex-direction: column;
    margin: 40px auto;
    &__left {
      width: 100%;
      min-width: auto;
      max-width: none;
      margin-right: 0;
      margin-bottom: @sp;
      &-scroll {
        display: flex;
        flex-wrap: wrap;
        #hot {
          order: 7;
        }
        #work {
          order: 3;
        }
        #location {
          order: 2;
        }
        #profile {
          order: 6;
        }
        #industry {
          order: 5;
        }
        #exp {
          order: 4;
        }
        #emp {
          order: 1;
        }
      }
      &-block {
        width: 33.33%;
      }
    }
    &__right {
      flex: auto;
    }
  }
}

@media (max-width: @md) {
  .filter {
    flex-direction: column;
    &__left {
      &-block {
        width: 50%;
      }
    }
    &__right {
      .filter {
        &__item {
          &-info {
            flex-direction: column;
          }
        }
      }
    }
  }
}

@media (max-width: @sm) {
  .filter {
    &__left {
      &-block {
        width: 100%;
      }
    }
  }
}