@import "settings";

.header-new {
  font-family: 'Raleway', sans-serif;
  padding: 34px 0;
  z-index: 101;
  &__flop {
    display: none;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    margin-right: 69px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("@{path}/usetech-logo-header.svg");
    width: 147px;
    height: 36px;
  }
  &__wrap {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
  }
  &__menu {
    display: flex;
    margin-right: auto;
    justify-content: space-between;
    .menu-item {
      position: relative;
      display: flex;
      align-self: center;
      border-bottom: none;
      color: @text;
      cursor: pointer;
      //animation: menu .3s forwards;
      &:not(:last-child) {
        margin-right: 0;
      }
      &::after {
        display: none;
      }
      > a {
        color: inherit;
        display: flex;
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
        padding: 8px 16px;
        border-radius: 4px;
        &:hover {
          background-color: @bg-grey;
          border-radius: 4px;
          transition: all 0.3s;
        }
      }
      &-has-children {
        //padding-right: 30px;
        > a {
          padding: 8px 34px 8px 16px;
          &::before {
            content: '';
            position: absolute;
            right: 10px;
            top: 50%;
            background-image: url("@{path}/header-angle-right.svg");
            background-repeat: no-repeat;
            background-position: center center;
            background-size: contain;
            width: 10px;
            height: 10px;
            transform: translateY(-50%) rotate(90deg);
            transition: all 0.3s;
          }
          &.active {
            &::before {
              transform: translateY(-50%) rotate(-90deg);
            }
          }
        }
        .sub-menu {
          display: none;
          &.active {
            position: absolute;
            display: flex;
            top: calc(~'100% + 10px') ;
            background: @white;
            padding: 8px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            flex-direction: column;
            align-items: flex-start;
            animation: menu .3s forwards;
            z-index: 1;
            .current-menu-parent a, .current-menu-item a {
              background-color: transparent;
              color: inherit !important;
            }
            .current-menu-parent > a, .current-menu-item > a {
              background-color: transparent;
              color: @text !important;
              font-weight: bold;
            }
            > li {
              width: 100%;
              align-self: self-start;
              min-width: max-content;
              > a {
                width: 100%;
                color: @text !important;
                background-color: transparent;
                &:hover {
                  background-color: @bg-grey !important;
                  border-radius: 4px;
                  transition: all 0.3s;
                }
              }
            }
          }
        }
      }
    }
  }
  &__socials {
    display: flex;
    min-width: 224px;
    justify-content: space-between;
    align-items: center;
    &-wrap {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      margin-top: 5px;
      .icon-facebook {
        color: #212121;
        &:hover {
          color: #3B5998;
          transition: all 0.3s;
        }
      }
      .icon-instagram {
        color: #212121;
        &:hover {
          color: #C13584;
          transition: all 0.3s;
        }
      }
      .icon-linkedin {
        color: #212121;
        &:hover {
          color: #2867B2;
          transition: all 0.3s;
        }
      }
      .icon-twitter {
        color: #212121;
        &:hover {
          color: #1DA1F2;
          transition: all 0.3s;
        }
      }
      .icon-youtube {
        color: #212121;
        &:hover {
          color: #FF0000;
          transition: all 0.3s;
        }
      }
      .icon-vk {
        color: #212121;
        &:hover {
          color: #2787F5;
          transition: all 0.3s;
        }
      }
    }
  }
  &__button {
    display: none;
  }
  &__feedback {
    display: none;
  }
}


.menu-item-has-children {
  &.current-menu-parent > a, &.current-menu-item > a {
    &::before {
      content: '';
      position: absolute;
      right: 10px;
      top: 50%;
      background-image: url("@{path}/header-angle-right-white.svg") !important;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      width: 10px;
      height: 10px;
      transform: translateY(-50%) rotate(90deg);
      transition: all 0.3s;
    }
  }
}


@media (max-width: @xl) {
  .header-new {
    &__logo {
      margin-right: 42px;
    }
  }
}

@media (max-width: @lg) {
  .header-new {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000011;
    padding: 16px 0;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: @white;
    }
    &__flop {
      display: block;
      height: 68px;
    }
    &__wrapper {
      position: relative;
      z-index: 10 ;
      flex-wrap: wrap;
    }
    &__logo {
      order: 1;
    }
    &__wrap {
      display: none;
      z-index: 100;
      &.active {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: fixed;
        top: 68px;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: @white;
        transition: all ease 0.3s;
        //animation: menu .3s forwards;
        margin-top: -5px;
        .header-new__wrap-menu {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 100%;
          width: 100%;
          background: linear-gradient(180deg, rgb(255, 255, 255) 94%, rgb(234, 234, 234));
          overflow-y: auto;
        }
      }
    }
    &__menu {
      display: none;
      &.active {
        display: flex;
        flex-direction: column;
        width: 720px;
        margin: -2px auto 36px;
        order: 3;
      }
      .menu-item {
        margin-right: 0 !important;
        flex-wrap: wrap;
        width: 102.5%;
        > a {
          background-color: transparent;
          color: @text !important;
          padding: 17px 40px 17px 8px;
          width: 100%;
          position: relative;
          border-radius: 8px;
          font-size: 18px;
          &:hover {
            background-color: @bg-grey !important;
            border-radius: 8px;
          }
        }
        &-has-children {
          padding-right: 0;
          > a {
            &::before {
              right: 10px;
              top: 50%;
              transform: translateY(-50%);
              background-image: url("@{path}/header-angle-right.svg") !important;
              background-repeat: no-repeat;
              background-position: center center;
              width: 11px;
              height: 18px;
              transition: all 0.3s;
            }
            &.active {
              &::before {
                transform: translateY(-50%) rotate(90deg);
              }
            }
          }
          .sub-menu {
            position: static;
            &.active {
              position: static;
              width: 100%;
              box-shadow: none;
              padding-left: 8px;
              margin-left: 8px;
              //animation: none;
              background-color: transparent;
              animation: menu .3s forwards;
              .current-menu-parent > a, .current-menu-item > a {
                background-color: transparent;
                color: @text !important;
              }
              li {
                animation: none;
              }
            }
          }
        }
      }
    }
    &__socials {
      margin-right: 0;
      &.active {
        width: 100%;
        display: flex;
        min-height: 48px;
        background-color: @white;
        order: 5;
      }
      &-wrap {
        background-color: @white;
        display: flex;
        justify-content: space-between;
        width: 720px;
        margin: 5px auto 0;
      }
    }
    &__button {
      order: 2;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      width: 44px;
      height: 34px;
      padding: 9px 10px;
      background-color: transparent;
      border: 1px solid transparent;
      border-radius: 4px;
      cursor: pointer;
      transition: all ease 0.3s 0s;
      &-line {
        display: block;
        background-color: @text;
        width: 25px;
        height: 2px;
        border-radius: 1px;
        transition: all ease 0.3s 0s;
      }
      &.active {
        position: relative;
        transition: all ease 0.3s 0s;
        .header-new__button-line_top {
          position: absolute;
          transform: rotate(45deg);
          transition: all ease 0.3s 0s;
          top: 15px;
        }
        .header-new__button-line_middle {
          display: none;
          transition: all ease 0.3s 0s;
        }
        .header-new__button-line_bottom {
          position: absolute;
          transform: rotate(-45deg);
          transition: all ease 0.3s 0s;
          bottom: 15px;
        }
      }
    }
    &__feedback {
      display: flex;
      &.active {
        display: flex;
        flex-direction: column;
        width: 720px;
        margin: auto auto 32px auto;
        align-self: flex-start;
        order: 4;
      }
      &-email {
        display: block;
        color: @green;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        margin-bottom: 8px;
      }
      &-tel {
        display: block;
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        color: #000;
        margin-bottom: 8px;
        margin-left: -5px;
      }
      &-address {
        display: block;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        color: #000;
      }
    }
  }
}

@media (max-width: @md) {
  .header-new {
    &__logo {
      margin-right: 0;
    }
    &__menu {
      &.active {
        width: 90%;
      }
    }
    &__feedback {
      &.active {
        width: 90%;
      }
    }
    &__socials {
      &.active {
        .header-new__socials-wrap {
          width: 90%;
        }
      }
    }
    &__button {
      margin-right: -8px;
      &.active {
      }
    }
  }
}