.header-new {
  min-height: 36px;
  padding: 34px 0;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("@{path}/usetech-logo-header.svg");
    width: 147px;
    height: 36px;
  }
  &__menu {
    display: flex;
    &-item {
      position: relative;
      display: flex;
      &:not(:last-child) {
        margin-right: 32px;
      }
      &_link {
        color: @text;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        &--drop {
          position: relative;
          padding-right: 22px;
          &::after {
            content: '';
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
            background: url("@{path}/usetech-arrow-header.svg") no-repeat center;
            background-size: cover;
            width: 11px;
            height: 6px;
          }
        }
        &--about {

        }
        &--blog {

        }

      }
      &_btn {
        margin-left: 5px;
        transition: all 0.3s;
        &.active {
          transform: rotate(180deg);
        }
      }
    }
  }
  &__submenu {
    display: none;
    position: absolute;
    background: white;
    padding: 20px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    top: 100%;
    &.active {
      display: flex;
      animation: menu .5s forwards;

    }
  }
  &__socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-link {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      width: 18px;
      height: 18px;
      &:not(:last-child) {
        margin-right: 22px;
      }
      &--facebook {
        background-image: url("@{path}/usetech-facebook-header.svg");
      }
      &--instagram {
        background-image: url("@{path}/usetech-instafram-header.svg");
      }
      &--linkedin {
        background-image: url("@{path}/usetech-linkedin-header.svg");
      }
      &--twitter {
        background-image: url("@{path}/usetech-twitter-header.svg");
      }
      &--vk {
        background-image: url("@{path}/usetech-vk-header.svg");
      }
      &--youtube {
        background-image: url("@{path}/usetech-youtube-header.svg");
      }
    }
  }
}



@keyframes menu {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}