

.home-filter {
  max-width: 1312px;
  margin: 0 auto;
  padding-top: 200px;
  h2 {
    padding: 0 0 24px;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    color: #212121;
    text-transform: none;
  }
  a {
    color: #92B700;
  }
  p {
    color: #212121;
    padding-bottom: 16px;
  }
  &__box {
    display: flex;
    flex-direction: column;
  }
  &__wrap {
    display: flex;
    justify-content: space-between;
  }
  &__left {
    flex: 1;
    margin-right: 48px;
    &-box {
      display: flex;
      margin-top: 24px;
    }
    &-left {
      flex: 1;
      margin-right: 12px;
    }
    &-right {
      flex: 1;
      margin-left: 12px;
    }
  }
  &__right {
    width: 520px;
    height: min-content;
    border-radius: 8px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
    padding: 31px 28px 28px 24px;
    transition: all 0.3s;
    position: relative;
    &-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 16px;
      &_wrap {
        display: flex;
        align-items: center;
      }
      &_img {
        background-image: url("../../img/tinder.svg");
        background-repeat: no-repeat;
        background-size: cover;
        width: 11px;
        height: 13px;
        z-index: 11;
        margin-right: 11px;
      }
      &_title {
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 28px;
      }
      &_buttons {
        margin-left: auto;
        min-width: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: none;
        .slick-arrow {
          background: url("../../img/arrow-down-black.svg") no-repeat center;
          width: 30px;
          height: 30px;
          display: block;
          transition: all 0.3s;
          font-size: 0;
          &:hover, &:active, &:focus{
            opacity: 0.5;
          }
        }
        .slick-prev {
          order: 1;
          border: none;
          transform: rotate(90deg);
        }
        .slick-next {
          order: 3;
          border: none;
          transform: rotate(270deg);
        }
        .slick-dots {
          display: flex !important;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 0;
          list-style: none;
          order: 2;
          li {
            font-size: 0;
            display: flex;
            margin: 3px 0;
            &:not(:last-child) {
              margin-right: 8px;
            }
            button {
              border: none;
              background-color: #E0E0E0;
              border-radius: 50%;
              width: 12px;
              height: 12px;
            }
          }
          .slick-active {
            button {
              background-color: #92B700;
            }
          }
        }
      }
    }
  }
  &__slider {
    width: 100%;
    white-space: nowrap;
  }
  &__slide {
    width: 100%;
    &-card {
      width: 100%;
      display: block;
      height: min-content;
      background-color: #FAFAFA;
      //border: 2px solid #FAFAFA;
      border-radius: 8px;
      padding: 16px 19px 16px 16px;
      color: #212121 !important;
      cursor: pointer;
      a {
        padding: 0;
      }
      &:not(:last-child) {
        margin-bottom: 20px;
      }
      &:hover, &:active, &:focus, &:visited {
        outline: none;
        text-decoration: none;
        color: #92B700;
        border-color: #E0E0E0;
      }
      &_top {
        display: flex;
        justify-content: space-between;
      }
      &_position {
        font-family: Raleway, sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 28px;
      }
      &_logo {
        background-image: url("../../img/tinder.svg");
        align-self: flex-start;
        background-repeat: no-repeat;
        background-size: cover;
        width: 11px;
        height: 13px;
        z-index: 11;
      }
      &_bottom {
        display: flex;
        justify-content: space-between;
      }
      &_location {

      }
      &_offer {
        color: #fff;
        font-family: Raleway, sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 11px;
        line-height: 16px;
        text-transform: uppercase;
        padding: 4px 8px;
        background: #92B700;
        border-radius: 4px;
      }
    }
    &-exp {
      span {
        font-family: Raleway, sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
      }
    }
  }


  &__line {
    margin-bottom: 24px;
  }
  &__label {
    font-family: "Raleway", sans-serif;
    margin-bottom: 6px;
    font-weight: bold;
    font-size: 16px;
  }
  &__footer {
    display: flex;
    align-items: center;
    margin-top: 24px;
    &-info {
      margin-left: 24px;
    }
  }
  &__button {
    align-self: flex-start;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    background-color: #92b700;
    color: #ffffff;
    border-radius: 8px;
    padding: 12px 16px;
    min-width: 229px;
    cursor: pointer;
    border: none;
    box-shadow: none;
    transition: all 0.3s;
    &[disabled] {
      background: rgba(146, 183, 0, 0.5);
      color: rgba(255, 255, 255, 0.5);
      &:hover {
        background: rgba(146, 183, 0, 0.5);
        color: rgba(255, 255, 255, 0.5);
      }
    }
    &:hover {
      background: #A8C533;
    }
  }
}


@media (max-width: 1250px) {
  .home-filter {
    &__box {

    }
    &__left {
      flex: auto;
      width: 50%;
    }
    &__right {
      width: 50%;
      &-title_title {
        font-size: 19px;
      }
    }
  }
}

@media (max-width: 1024px) {
  .home-filter {
    &__box {
      flex-direction: column;
    }
    &__wrap {
      flex-direction: column;
    }
    &__left {
      width: 100%;
      margin-bottom: 40px;
    }
    &__right {
      width: 100%;
    }
  }
}

@media (max-width: @sm) {
  .home-filter {
    &__left {
      &-box {
        flex-direction: column;
      }
      &-left {
        margin-right: 0;
      }
      &-right {
        margin-left: 0;
      }
    }
    &__right {
      &-title {
        flex-direction: column;
        &_title {
          margin: 0;
        }
        &_wrap {
          margin-bottom: @sp;
        }
        &_buttons {
          margin-left: 0;
        }
      }
    }
  }
}

@media (max-width: @xs) {
  .home-filter {
    &__footer {
      flex-direction: column;
      &-info {
        margin-left: 0;
      }
    }
    &__button {
      margin: 0 auto @sp;
    }
  }
}