* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

h1, .h1, h2, .h2, h3, .h3 {
   margin-top: 0;
   margin-bottom: 0;
}

a {
  text-decoration: none;
  &:hover, &:active, &:visited, &:focus {
    text-decoration: none;
    //color: inherit;
  }
}

ul, ol {
  list-style: none;
  margin: 0;
}

button {
  border: none;
}

.lock {
  overflow: hidden !important;
}

.site__container {
  max-width: 1312px;
  margin: 0 auto;
  @media (max-width: @xxl) {
    max-width: 1208px;
  }
  @media (max-width: @xl) {
    max-width: 992px;
  }
  @media (max-width: @lg) {
    max-width: 720px;
  }
  @media (max-width: @md) {
    max-width: 90%;
  }
  @media (max-width: @sm) {
    max-width: 90%;
  }
  @media (max-width: @xs) {
    max-width: 90%;
  }
}

@keyframes menu {
  from {
    //opacity: 0;
    transform: translateY(-50px);
  }
  to {
    //opacity: 1;
    transform: translateY(0px);
  }
}


@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700;800;900&display=swap');


@font-face {
  font-family: "usetech";
  src:url("../../fonts/usetech.eot");
  src:url("../../fonts/usetech.eot?#iefix") format("embedded-opentype"),
  url("../../fonts/usetech.woff") format("woff"),
  url("../../fonts/usetech.ttf") format("truetype"),
  url("../../fonts/usetech.svg#usetech") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "usetech" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "usetech" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  font-size: 20px !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @media (max-width: @lg) {
    font-size: 27px !important;
  }
}

.icon-facebook:before {
  content: "\61";
}
.icon-facebook {
  color: #212121;
  &:hover {
    color: #3B5998;
    transition: all 0.3s;
  }
}

.icon-instagram:before {
  content: "\62";
}
.icon-instagram {
  color: #212121;
  &:hover {
    color: #C13584;
    transition: all 0.3s;
  }
}

.icon-linkedin:before {
  content: "\63";
}
.icon-linkedin {
  color: #212121;
  &:hover {
    color: #2867B2;
    transition: all 0.3s;
  }
}

.icon-twitter:before {
  content: "\64";
}
.icon-twitter {
  color: #212121;
  &:hover {
    color: #1DA1F2;
    transition: all 0.3s;
  }
}

.icon-youtube:before {
  content: "\66";
}
.icon-youtube {
  color: #212121;
  &:hover {
    color: #FF0000;
    transition: all 0.3s;
  }
}

.icon-vk:before {
  content: "\67";
}
.icon-vk {
  color: #212121;
  &:hover {
    color: #2787F5;
    transition: all 0.3s;
  }
}

