@sp: 16px;
@green: #92B700;
@black: #333;
@path: "../../img";
@text: #212121;
@bg-grey: #FAFAFA;





@mainfz: 1.6rem;
@smallfz: 1.4rem;

@mainlh: 2.4rem;
@ls: 0.1px;

@xs: 420px;
@sm: 576px;
@md: 768px;
@lg: 992px;
@xl: 1240px;
