@sp: 16px;
@path: "../../img";
@path-icons: "../../images/icon";
@br: 8px;  //border-radius

//Colors
@green: #92B700;
@light-green: #A8C533;
@black: #333;
@black-super: #000000;
@text: #212121;
@bg-grey: #FAFAFA;
@light-grey: rgba(33, 33, 33, 0.6);
@white: #ffffff;

//Fonts
@font: 'Raleway', sans-serif;
@mainfz: 1.6rem;
@smallfz: 1.4rem;
@mainlh: 2.4rem;
@ls: 0.1px;

//Breakpoints
@xs: 420px;
@sm: 576px;
@md: 768px;
@lg: 992px;
@xl: 1240px;
@xxl: 1440px;

//Icon size
@icon-lg: 32px;
@icon-md: 24px;
@icon-sm: 16px;
